h2 {
  margin-bottom: 35px;
  padding-bottom: 25px;
  position: relative;
}
h2::after {
  content: "";
  background-color: #ff305b;
  bottom: 5px;
  height: 1px;
  width: 160px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

h2::before {
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  border-color: #ff305b;
  border-style: solid;
  border-width: 1px 0;
  bottom: 0;
  padding: 4px 0 5px;
  width: 70px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  z-index: 2;
}
nav {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #ff305b;
  display: block;
  font-size: 24px;
  font-weight: 800;
  padding: 18px 0;
  text-decoration: none;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
}

nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 20px 0;
  transition: all 0.4s ease-in-out 0s;
}

nav ul a:hover {
  color: #ff305b;
}
nav ul a:active{
  color: #ec2403;
}
.clear-fix {
  clear: both;
}

@media screen and (max-width: 992px) {
  nav ul li {
    display: block;
    opacity: 0.4;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    width: 90%;
  }
  nav ul {
    margin-right: 0;
    padding-right: 0;
  }
}

/*=======================================================*/

#home {
  background-image: url(../img/slider/slider-01.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #555555;
  position: relative;
  margin-bottom: 10%;
}

.home-text {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text h3 {
  font-weight: 600;
  margin: 0 0 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}

.home-text h1 {
  color: #ff305b;
  font-size: 70px;
  font-weight: bold;

  text-transform: uppercase;
}
.home-text h4 {
  font-size: 26px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
}
.head-line::after {
  content: "D |";
  animation-name: moveHeadLine;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes moveHeadLine {
  0% {
    content: "D |";
  }

  3% {
    content: "DE |";
  }

  6% {
    content: "DES |";
  }

  9% {
    content: "DESI |";
  }

  12% {
    content: "DESIG |";
  }

  15% {
    content: "DESIGN |";
  }

  18% {
    content: "DESIGNE |";
  }

  21% {
    content: "DESIGNER |";
  }
  40% {
    content: "DESIGNER |";
  }

  41% {
    content: "DESIGNE |";
  }

  43% {
    content: "DESIGN |";
  }

  46% {
    content: "DESIG |";
  }

  49% {
    content: "DESI |";
  }

  51% {
    content: "DES |";
  }

  53% {
    content: "DE |";
  }

  55% {
    content: "D |";
  }

  /* Developer */

  57% {
    content: "DE |";
  }

  59% {
    content: "DEV |";
  }

  61% {
    content: "DEVE |";
  }

  63% {
    content: "DEVEL |";
  }

  65% {
    content: "DEVELO |";
  }

  67% {
    content: "DEVELOP |";
  }

  69% {
    content: "DEVELOPE |";
  }

  71% {
    content: "DEVELOPER |";
  }

  72% {
    content: "DEVELOPER |";
  }
  89% {
    content: "DEVELOPER |";
  }
  90% {
    content: "DEVELOPE |";
  }

  91% {
    content: "DEVELOP |";
  }

  92% {
    content: "DEVELO |";
  }

  93% {
    content: "DEVEL |";
  }

  94% {
    content: "DEVE |";
  }

  95% {
    content: "DEV |";
  }

  96% {
    content: "DE |";
  }

  98% {
    content: "D |";
  }

  100% {
    content: " |";
  }
}
/*==================================*/
.about-container {
  width: 70%;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
}

.about-img {
  width: 25%;
  border: solid 8px #555555;
  border-radius: 8px;
  position: relative;
}

.about-img:hover .about-img-caption {
  top: 0;
}
.about-photo {
  position: relative;
  left: 10%;
  top: 25px;
}
.about-photo img {
  width: 100%;
}
.about-img-caption {
  position: absolute;
  top: 110%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.about-img ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}
.about-img a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.about-text {
  width: 60%;
}

.about-text p {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: dashed 1px;
}
.about-text h3 {
  position: relative;
  padding: 15px;
  padding-bottom: 25px;
}

.about-text h3::after {
  background: #ff305b none repeat scroll 0 0;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 20%;
  width: 4px;
}

.about-profile {
  color: #555555;
  width: 100%;
  font-size: 18px;
}
.about-profile ul {
  width: 50%;
  display: inline-block;
}
.about-profile ul li {
  color: #555555;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 25px;
  list-style-type: none;
  white-space: nowrap;
}
.about-profile span {
  color: #333333;
  font-weight: 500;
}

.left {
  float: left;
}
.about-profile a {
  background: #ff305b none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
  padding: 10px 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.about-profile a:hover {
  background: #ec2403;
}
@media screen and (min-width: 0px) and (max-width: 1200px) {
  .about-container {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    display: list-item;
  }
  .about-text {
    width: 80%;
    margin: auto;
  }
  .about-img {
    width: 80%;
    border: none;
    margin-bottom: 20px;
  }

  .about-profile ul {
    width: 80%;
  }
}

/*================================================*/

#services {
  background-color: #f1f1f1;
  padding: 5%;
  text-align: center;
  overflow: auto;
  margin-bottom: 35px;
}
/*  */
.services-container {
  width: 95%;
  margin: auto;
}
.services-inner {
  width: 25%;
  padding: 30px 15px;
  float: left;
}
.services-container .services-inner .services-item i {
  margin: 10px;
  color: #ff305b;
  font-size: 36px;
  vertical-align: auto;
  transition: all 0.3s;
}

.services-container .services-inner .services-item h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
}
.services-container .services-inner .services-item p {
  font-size: 18px;
  color: #7e7e7e;
  padding: 10px 0px;
}
.services-inner:hover {
  background-color: white;
}
.services-inner:hover i {
  scale: 1.5;
}
@media screen and (min-width: 0px) and (max-width: 599px) {
  .services-inner {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .services-inner {
    width: 50%;
  }
}

/*===================================================*/

#portfolio .container {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 35px;
}
#portfolio .container h2 {
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}
#portfolio .container h2::after {
  content: "";
  background-color: #ff305b;
  bottom: 5px;
  height: 1px;
  width: 160px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

#portfolio .container h2::before {
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  border-color: #ff305b;
  border-style: solid;
  border-width: 1px 0;
  bottom: 0;
  padding: 4px 0 5px;
  width: 70px;
}
.portfolio-container {
  width: 80%;
  margin: auto;
}

.portfolio-menu button {
  background: rgba(0, 0, 0, 0);
  border: medium none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 3px 12px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.portfolio-menu button:active {
  color: #ec2403;
}
.portfolio-img {
  padding: 10px;
  width: 33.3%;
  float: left;
}
.portfolio-inner {
  position: relative;
}
.portfolio-container a {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}
.portfolio-inner:hover a {
  display: inline;
}
.portfolio-container a i {
  position: absolute;
  color: black;
  color: #ec2403;

  right: 5%;
  bottom: 5%;
}
.portfolio-inner img {
  width: 100%;
}
@media screen and (min-width: 0px) and (max-width: 599px) {
  .portfolio-img {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .portfolio-img {
    width: 50%;
  }
  .portfolio-container {
    width: 100%;
  }
}

/*===========================================================*/
.fun {
  background-color: #f1f1f1;
  padding: 5%;
  margin-bottom: 35px;
}
.fun .container {
  width: 80%;
  margin: auto;
}
.fun .container .item {
  width: 25%;
  text-align: center;
  padding: 15px;
  float: left;
}
.fun .container .item i {
  color: #ec2403;
  font-size: 24px;
  margin-bottom: 5%;
}
.fun .container .item h3 {
  margin-bottom: 5%;
}
.fun .container h5 {
  color: #555555;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .fun .container .item {
    width: 50%;
  }
}
/*==============================================================*/
#testimonial {
  text-align: center;
  margin-bottom: 35px;
}
#testimonial h2 {
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}
#testimonial h2::after {
  content: "";
  background-color: #ff305b;
  bottom: 5px;
  height: 1px;
  width: 160px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

#testimonial h2::before {
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  border-color: #ff305b;
  border-style: solid;
  border-width: 1px 0;
  bottom: 0;
  padding: 4px 0 5px;
  width: 70px;
}

#testimonial .container {
  width: 50%;
  margin: auto;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
#testimonial .container .inner {
  width: 50%;
  height: 20rem;
  float: left;
  background-color: #ff305b;
  padding: 10px 35px;
  position: relative;
  left: -33%;
  transform: skew(-45deg);
}
#testimonial .container .inner img {
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 25%;
  transform: skew(45deg);
}

.testimonial-text {
  width: 50%;
  text-align: left;
  margin-top: 15%;
  margin-left: 150px;
  position: absolute;
  left: 20%;
  color: #7e7e7e;
}
.testimonial-text h3,
h4 {
  margin-bottom: 10px;
}
.testimonial-text p{
  font-style: italic;
  margin-bottom: 15px;
}

.testimonial-text a {
  color: #7e7e7e;
  text-decoration: none;
  font-weight: 300;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  #testimonial .container {
    width: 100%;
    height: 50rem;
  }
  #testimonial .container .inner {
    width: 64%;
    height: 350px;
  }
  .testimonial-text {
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 25px;
  }
}
.testimonial-text .star {
  color: #f1c30d;
  padding-bottom: 85px;
}

/*==============================================================*/
#blog {
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 35px;
}

.blog-container {
  width: 60%;
  margin: auto;
  box-sizing: content-box;
}

.blog-container .blog-inner {
  width: 33.3%;
  float: left;
  padding: 1%;
}
.blog-container .blog-inner img {
  width: 100%;
}
.blog-container .blog-inner .blog-text {
  padding: 15px;
  background-color: white;
  text-align: left;
}

.blog-container .blog-inner .blog-text p {
  margin-bottom: 15px;
  color: #7e7e7e;
}
.blog-container .blog-inner .blog-text h4 {
  margin-bottom: 15px;
}
.blog-container .blog-inner iframe {
  width: 100%;
  background-color: #333;
}

.blog-container .blog-inner .blog-text a {
  color: black;
  text-decoration: none;
  transition: all 0.7s;
}
#blog .blog-container a:hover {
  color: #ec2403;
}

@media screen and (max-width: 992px) {
  .blog-container .blog-inner {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .blog-container {
    width: 90%;
  }
}

/*============================================================*/
#contact {
  text-align: center;
  margin-bottom: 25px;
}

.contact-container {
  width: 80%;
  margin: auto;
}

.contact-container .information input {
  width: 30%;
  padding: 15px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  display: inline-block;
  border-radius: 4px;
  margin: 15px 3%;
}
.contact-container .sub input {
  width: 66%;
  padding: 15px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  display: inline-block;
  border-radius: 4px;
  margin: 15px 25px;
}

.contact-container textarea {
  overflow: auto;
  width: 66%;
  height: 25%;
  padding: 20px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  display: inline-block;
  border-radius: 4px;
  margin: 15px 25px;
}
.contact-container button {
  float: left;
  margin-left: 17%;
  background-color: #ff305b;
  color: white;
  border: none;
  padding: 0 20px;
  height: 40px;
  line-height: 38px;
  text-transform: uppercase;
  border-radius: 4px;
}

@media screen and (max-width: 992px) {
  .contact-container {
    width: 100%;
  }
  .contact-container .information input {
    width: 80%;
  }
  .contact-container .sub input {
    width: 80%;
  }
  .contact-container textarea {
    width: 80%;
  }
  .contact-container button {
    margin-left: 10%;
  }
}
/*===============================================================*/
footer {
  padding: 25px;
  background-color: #333;
  color: white;
}
.footer-container {
  width: 60%;
  margin: auto;
  text-align: center;
}
.footer-container ul {
  margin-bottom: 20px;
}
.footer-container li {
  display: inline-block;
  margin: 10px;
}
.footer-container a {
  color: white;
}
.footer-container p a {
  text-decoration: none;
  color: #ff305b;
}
.footer-container p {
  margin-bottom: 25px;
}
